@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.u-aside {
    width: 15%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e8e6e690;
    position: absolute;
}

.hm {
    background-color: #ffffff53;
}

.u-aside code {
    padding: 8px;
    display: block;
    color: #e8e6e6;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgb(255, 68, 1);
}

.u-aside nav ul li {
    display: block;
    list-style: none;
}

.u-aside nav ul li a {
    display: block;
    color: #1f1f1f;
    padding: 12px 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.u-aside nav ul li a.active {
    color: white;
    background-color: #555555;
}

.u-aside nav ul li a:hover:not(.active) {
    color: white;
    background-color: red;
}

main {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
}

.home {
    width: 100vw;
    height: 100vh;
    background-image: url("./bg-image.jpg");
    background-color: rgba(255, 0, 0, 0.564);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home div {
    padding: 120px;
    color: red;
    position: absolute;
    right: 100px;
    text-align: center;
    letter-spacing: 2PX;
}

.home div h3 {
    margin: 16px 0px;
}

@media (max-width: 768px) {
    .u-aside {
        width: 20%;
    }
}